	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Power System</li>
			</ol>
		</div><!--/.row-->
		
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		<p class="navbar-text pull-right">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		<% else %>
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
		</p>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Power System</h1><br>
				
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">Sample Graph</div>
							<div class="panel-body">
								<div class="canvas-wrapper">
									<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div><!--/.row-->
				
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">Power System Table</div>
							<div class="panel-body">
								<table data-toggle="table"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
								    <thead>
								    <tr>
								        <th data-field="state" data-checkbox="true" >Satellite ID</th>
										<th data-field="id" data-sortable="true" >Satellite ID</th>
										<th data-field="name" data-sortable="true" >Satellite Name</th>
								        <th data-field="p_array1_i" data-sortable="true">+Array1 Current</th>
								        <th data-field="p_array1_t"  data-sortable="true">+Array1 Temp</th>
								        <th data-field="pn_array1_v" data-sortable="true">+/-Array1 Voltage</th>
								        <th data-field="n_array1_i" data-sortable="true">-Array1 Current</th>
								        <th data-field="n_array1_t"  data-sortable="true">-Array1 Temp</th>
								        <th data-field="pn_array2_v" data-sortable="true">+/-Array2 Voltage</th>
								        <th data-field="n_array2_i" data-sortable="true">-Array2 Current</th>
								        <th data-field="n_array2_t"  data-sortable="true">-Array2 Temp</th>
								        <th data-field="pn_array3_v" data-sortable="true">+/-Array3 Voltage</th>
								        <th data-field="p_array3_i" data-sortable="true">+Array3 Current</th>
								        <th data-field="p_array3_t"  data-sortable="true">+Array3 Temp</th>
								        <th data-field="p_array2_i" data-sortable="true">+Array2 Current</th>
								        <th data-field="p_array2_t"  data-sortable="true">+Array2 Temp</th>
								        <th data-field="n_array3_i" data-sortable="true">-Array3 Current</th>
								        <th data-field="n_array3_t"  data-sortable="true">-Array3 Temp</th>
								        <th data-field="p_array4_i" data-sortable="true">+Array4 Current</th>
								        <th data-field="p_array4_t"  data-sortable="true">+Array4 Temp</th>
										<th data-field="pn_array4_v" data-sortable="true">+/-Array4 Voltage</th>
								        <th data-field="n_array4_i" data-sortable="true">-Array4 Current</th>
								        <th data-field="n_array4_t"  data-sortable="true">-Array4 Temp</th>
								        <th data-field="pn_array5_v" data-sortable="true">+/-Array5 Voltage</th>
								        <th data-field="n_array5_i" data-sortable="true">-Array5 Current</th>
								        <th data-field="n_array5_t"  data-sortable="true">-Array5 Temp</th>
								        <th data-field="pn_array6_v" data-sortable="true">+/-Array6 Voltage</th>
								        <th data-field="p_array6_i" data-sortable="true">+Array6 Current</th>
								        <th data-field="p_array6_t"  data-sortable="true">+Array6 Temp</th>
								        <th data-field="p_array5_i" data-sortable="true">+Array5 Current</th>
								        <th data-field="p_array5_t"  data-sortable="true">+Array5 Temp</th>
								        <th data-field="n_array6_i" data-sortable="true">-Array6 Current</th>
								        <th data-field="n_array6_t"  data-sortable="true">-Array6 Temp</th>
								        <th data-field="bus_3v3_i" data-sortable="true">3V3 Bus Current</th>
								        <th data-field="bus_5V_i"  data-sortable="true">5V Bus Current</th>
								        <th data-field="bus_VBATT_i" data-sortable="true">BatV Bus Current</th>
								        <th data-field="bus_12V_i"  data-sortable="true">12V Bus Current </th>
								        <th data-field="created_at" data-sortable="true">Created at</th>
								        <th data-field="updated_at"  data-sortable="true">Updated at</th>
								    </tr>
								    </thead>
									<tbody>
									    <% @powersystems.each do |power_system| %>
									      <tr>
									        <td><%= power_system.satellite_ID %></td>
									        <td><%= power_system.satellite_ID %></td>
											<td><%= power_system.power_system_title %></td>
									        <td><%= power_system.p_array1_i %></td>
											<td><%= power_system.p_array1_t %></td>
											<td><%= power_system.pn_array1_v %></td>
									        <td><%= power_system.n_array1_i %></td>
											<td><%= power_system.n_array1_t %></td>
											<td><%= power_system.pn_array2_v %></td>
									        <td><%= power_system.n_array2_i %></td>
											<td><%= power_system.n_array2_t %></td>
											<td><%= power_system.pn_array3_v %></td>
									        <td><%= power_system.p_array3_i %></td>
											<td><%= power_system.p_array3_t %></td>
									        <td><%= power_system.p_array2_i %></td>
											<td><%= power_system.p_array2_t %></td>
									        <td><%= power_system.n_array3_i %></td>
											<td><%= power_system.n_array3_t %></td>
											<td><%= power_system.p_array4_i %></td>
											<td><%= power_system.p_array4_t %></td>
											<td><%= power_system.pn_array4_v %></td>
									        <td><%= power_system.n_array4_i %></td>
											<td><%= power_system.n_array4_t %></td>
											<td><%= power_system.pn_array5_v %></td>
									        <td><%= power_system.n_array5_i %></td>
											<td><%= power_system.n_array5_t %></td>
											<td><%= power_system.pn_array6_v %></td>
									        <td><%= power_system.p_array6_i %></td>
											<td><%= power_system.p_array6_t %></td>
									        <td><%= power_system.p_array5_i %></td>
											<td><%= power_system.p_array5_t %></td>
									        <td><%= power_system.n_array6_i %></td>
											<td><%= power_system.n_array6_t %></td>
											<td><%= power_system.bus_3v3_i %></td>
											<td><%= power_system.bus_5V_i %></td>
											<td><%= power_system.bus_VBATT_i %></td>
											<td><%= power_system.bus_12V_i %></td>
											<td><%= power_system.created_at %></td>
											<td><%= power_system.updated_at %></td>											
									      </tr>
									    <% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div><!--/.row-->
			</div>
		</div><!--/.row-->
	</div><!--/.main-->