		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
		
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		<p class="navbar-text pull-right">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		<% else %>
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
		</p>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">C&amp;DH</h1>
			</div>
		</div><!--/.row-->
		
	    <% @cdh.each do |cdhs| %>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">C&amp;DH: <%= cdhs.cdh_name %></div>
					<div class="panel-body">
						<p><label>Satellite_ID: </label>&nbsp;<%= cdhs.satellite_ID %></p>
						<p><label>Created at: </label>&nbsp;<%= cdhs.created_at %></p>
						<p><label>Updated at: </label>&nbsp;<%= cdhs.updated_at %></p>
						<p><label>C&amp;DH error count: </label>&nbsp;<%= cdhs.cdh_error_cnt %></p>
						<p><label>C&amp;DH status: </label>&nbsp;<%= cdhs.cdh_status %></p>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		<% end %>
		
	</div>	<!--/.main-->
	<CR>