		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Command &amp; Control</li>
			</ol>
		</div><!--/.row-->
		
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		<p class="navbar-text pull-right">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		<% else %>
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
		</p>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Command &amp; Control</h1>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Payloads</div>
					<div class="panel-body">
						<h3>Payload 1</h3>
						<input type="checkbox" checked data-toggle="toggle" id="check-payload1">
						<h3>Payload 2</h3>
						<input type="checkbox" checked data-toggle="toggle" id="check-payload2">
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->
			
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Requests</div>
						<div class="panel-body">
			<table>
				<tr>
					<td><a class="btn btn-info" type="button" href="/notifications/create" style="width: 200px;">REQ Power System Status</a></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><a class="btn btn-info" type="button" href="#" style="width: 200px;">REQ C&amp;DH Status</a></td>
				</tr>
				<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr>
					<td><a class="btn btn-info" type="button" href="#" style="width: 200px;">REQ DACS Status</a></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><a class="btn btn-info" type="button" href="#" style="width: 200px;">REQ SatCOMM Status</a></td>
				</tr>
				<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr>
					<td><a class="btn btn-info" type="button" href="#" style="width: 200px;">REQ Payload 1 Status</a></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><a class="btn btn-info" type="button" href="#" style="width: 200px;">REQ Payload 2 Status</a></td>
				</tr>
			</table>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->