<div>
<body id="body-login">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<img alt="" src="/assets/logo.png" width="180" height="180" align="middle" style="margin: 0px 0px"/>
			<img alt="" src="/assets/Title.png" width="180" height="auto" align="middle" style="margin: 10px 0px"/>
			<% if notice %>
			  <p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			  <p class="alert alert-danger"><%= alert %></p>
			<% end %>
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Forgot your password?</div>
				<div class="panel-body">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
				</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	
</body>
</div>