		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Payload</li>
			</ol>
		</div><!--/.row-->
		
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		<p class="navbar-text pull-right">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		<% else %>
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
		</p>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Payload</h1>
			</div>
		</div><!--/.row-->
		
		<div class="row">
		<div class="col-lg-12">		
			<div class="panel panel-default">
				<div class="panel-body tabs">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab">Payload 1</a></li>
						<li><a href="#tab2" data-toggle="tab">Payload 2</a></li>
					</ul>	
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab1">
							<table data-toggle="table"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
							    <thead>
							    <tr>
							        <th data-field="state" data-checkbox="true" >Payload name</th>
									<th data-field="name" data-sortable="true" >Payload name</th>
									<th data-field="id" data-sortable="true" >Satellite ID</th>
									<th data-field="created" data-sortable="true" >Created at</th>
									<th data-field="updated" data-sortable="true" >Updated at</th>
									<th data-field="binary" data-sortable="true" >Telemetry payload</th>
							    </tr>
							    </thead>
								<tbody>
									<% @payload1.each do |payload| %>
							      	<tr>
							        	<td><%= payload.payload_name %></td>
										<td><%= payload.payload_name %></td>
							        	<td><%= payload.satellite_ID %></td>
		        						<td><%= payload.created_at %></td>
										<td><%= payload.updated_at %></td>
										<td><%= payload.telemetry_payload %></td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
						<div class="tab-pane fade" id="tab2">
							<table data-toggle="table"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
							    <thead>
							    <tr>
							        <th data-field="state" data-checkbox="true" >Payload name</th>
									<th data-field="name" data-sortable="true" >Payload name</th>
									<th data-field="id" data-sortable="true" >Satellite ID</th>
									<th data-field="created" data-sortable="true" >Created at</th>
									<th data-field="updated" data-sortable="true" >Updated at</th>
									<th data-field="binary" data-sortable="true" >Telemetry payload</th>
							    </tr>
							    </thead>
								<tbody>
									<% @payload2.each do |payload| %>
							      	<tr>
							        	<td><%= payload.payload_name %></td>
										<td><%= payload.payload_name %></td>
							        	<td><%= payload.satellite_ID %></td>
		        						<td><%= payload.created_at %></td>
										<td><%= payload.updated_at %></td>
										<td><%= payload.telemetry_payload %></td>
									</tr>
									<% end %>
								</tbody>
							</table>	
						</div>
					</div>
				</div>
			</div><!--/.panel-->
		</div><!--/.col-->
	</div>		
	</div><!--/.main-->