		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">SatCOMM</li>
			</ol>
		</div><!--/.row-->
		
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		<p class="navbar-text pull-right">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		<% else %>
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
		</p>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">SatCOMM</h1>
			</div>
		</div><!--/.row-->		
		
	    <% @satcomm.each do |satcomm| %>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">SatComm Name: <%= satcomm.satcomm_name %></div>
					<div class="panel-body">
						<p><label>Satellite_ID: </label>&nbsp;<%= satcomm.satellite_ID %></p>
						<p><label>Created at: </label>&nbsp;<%= satcomm.created_at %></p>
						<p><label>Updated at: </label>&nbsp;<%= satcomm.updated_at %></p>
						<p><label>Trans.: </label>&nbsp;<%= satcomm.trans %></p>
						<p><label>Receive: </label>&nbsp;<%= satcomm.receive %></p>
						<p><label>RF error count: </label>&nbsp;<%= satcomm.rf_error_count %></p>
						<p><label>Temp_RF: </label>&nbsp;<%= satcomm.temp_RF %></p>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		<% end %>
		
	</div><!--/.main-->