<!DOCTYPE html><CR>
<html><CR>
<head><CR>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CloudSat</title><CR><CR>
  <!--./<link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/datepicker3.css" rel="stylesheet"><CR>
  <link href="css/styles.css" rel="stylesheet"><CR><CR>-->
  <!--./><link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head><CR>
<body>
	<% if user_signed_in? %>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/powersystem"><span></span></a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= current_user.email %></a></li>
							<li><a href="/users/edit"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
							<li><a href="/users/sign_out" data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<% if current_page?('/powersystem') %> <li class="active"><% else %><li><% end %>
			<a href="powersystem"><span class="glyphicon glyphicon-dashboard"></span> Power System</a></li>
			<% if current_page?('/satcomm') %> <li class="active"><% else %><li><% end %>
			<a href="satcomm"><span class="glyphicon glyphicon-th"></span> SatCOMM</a></li>
			<% if current_page?('/adacs') %> <li class="active"><% else %><li><% end %>
			<a href="adacs"><span class="glyphicon glyphicon-stats"></span> ADACS</a></li>
			<% if current_page?('/command') %> <li class="active"><% else %><li><% end %>
			<a href="command"><span class="glyphicon glyphicon-pencil"></span> Commands</a></li>
			<% if current_page?('/cdh') %> <li class="active"><% else %><li><% end %>
			<a href="cdh"><span class="glyphicon glyphicon-info-sign"></span> C&amp;DH</a></li>
			<% if current_page?('/payload') %> <li class="active"><% else %><li><% end %>
			<a href="payload"><span class="glyphicon glyphicon-list-alt"></span>Payload</a></li>
		</ul>
		<li role="presentation" class="divider"></li>
		<li href="http://cosmiac.org/"><%= image_tag("COSMIAC_logo.gif", :alt => "") %></li>
	</div><!--/.sidebar-->
	<% end %>
	<%= yield %>
	
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
</body><CR>
<CR>
</html><CR>
